#section_about {
	background: #4c2015; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c2015 0%, #1b0a07 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c2015), color-stop(100%,#1b0a07)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c2015 0%,#1b0a07 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c2015 0%,#1b0a07 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c2015 0%,#1b0a07 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c2015 0%,#1b0a07 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c2015', endColorstr='#1b0a07',GradientType=0 ); /* IE6-9 */
}