/*  PROJECT SVG
====================================================
==================================================== */
#slide2 {
	background-image: url(../imgs/bg/svg.jpg);
}

.thumb_svg {
	float: left;
	margin-right: 20px;
	width: 140px;
	height: 111px;
	background-position: -622px 0px;
	cursor: pointer;
}

.first_p {
	.float_left {
		width: 70%;
	}
}
