/*  PROJECT SVG
====================================================
==================================================== */
#slide2{
	background-image: url(../imgs/bg/svg.jpg);
	/*padding: 30% 0 0 0;*/
}

.thumb_svg {
	float: left;
	margin-right: 20px;
	width: 140px;
	height: 111px;
	background-position: -622px 0px;
	cursor: pointer;
}