/*  RESPONSIVE MEDIA QUERIES
====================================================
==================================================== */

/* 1600
==================================================== */
@media all and (max-width: 1600px) {
	
}

/* 1200
==================================================== */
@media all and (max-width: 1200px) {
	#section_home {
		h1 {
			margin-bottom: 20px;
			width: 70%;
			font-size: em(64);
		}

		h2 {
			top: 0;
		}
	}
}

/* 1000
==================================================== */
@media all and (max-width: 1000px) {
	
}

/* 960
==================================================== */
@media all and (max-width: 960px) {
	#section_home {
		h1 {
			font-size: em(48);
		}

		h2 {
			top: 0;
			width: 60%;
			line-height: em(24);
		}
	}
}

/* 800
==================================================== */
@media all and (max-width: 800px) {
	
}

/* 700
==================================================== */
@media all and (max-width: 700px) {
	
}

/* 640
==================================================== */
@media all and (max-width: 640px) {
	
}

/* 320
==================================================== */
@media all and (max-width: 320px) {
	
}